.Button {
	all: unset;
	padding: var(--space-3) var(--space-4);
	background-color: var(--color-neutral-50);
	transition: background-color .2s ease-out;
	cursor: pointer;
}

.Button:hover {
	background-color: var(--color-neutral-100);
}

.Button:active,
.Button.mod-active {
	background-color: var(--color-neutral-200);
}

.Button.mod-disabled {
	opacity: .3;
	pointer-events: none;
}