.Table {
	--table-border: 1px solid var(--color-neutral-200);

	width: 100%;
	border-collapse: collapse;
	border-bottom: var(--table-border);
}

.Table tr + tr {
	border: none;
	border-top: var(--table-border);
}

.Table thead {
	background-color: var(--color-neutral-50);
}

.Table th {
	padding: var(--space-0);
}

.Table tr > th,
.Table tr > td {
	text-align: left;
}

.Table tr > th:last-child,
.Table tr > td:last-child {
	text-align: right;
}

.Table td {
	padding: var(--space-2) var(--space-3);
	color: var(--color-neutral-700);
}