.ThCell-button {
	box-sizing: border-box;
	width: 100%;
}

.ThCell:not(.mod-clickable) .ThCell-button {
	cursor: initial;
}
.ThCell:not(.mod-clickable) .ThCell-button:hover {
	background-color: initial;
}

.ThCell-button.mod-disabled {
	opacity: 1;
}

.ThCell-icon {
	margin-left: var(--space-2);
}
