:root {
	/* COLOR */
	--color-neutral-0: #ffffff;
	--color-neutral-50: #dce4e6;
	--color-neutral-100: #bbc9cc;
	--color-neutral-200: #9caeb3;
	--color-neutral-300: #809499;
	--color-neutral-400: #667b80;
	--color-neutral-500: #4f6266;
	--color-neutral-600: #3a494d;
	--color-neutral-700: #263133;
	--color-neutral-800: #13181a;
	--color-neutral-900: #000000;

	/* SIZES */
	--grid-0: 0;
	--grid-1: 4px;
	--grid-2: 8px;
	--grid-3: 12px;
	--grid-4: 16px;
	--grid-5: 20px;
	--grid-6: 24px;
	--grid-7: 28px;
	--grid-8: 32px;
	--grid-9: 36px;
	--grid-10: 40px;

	--space-0: var(--grid-0);
	--space-1: var(--grid-1);
	--space-2: var(--grid-2);
	--space-3: var(--grid-3);
	--space-4: var(--grid-4);
	--space-5: var(--grid-5);
	--space-6: var(--grid-6);
	--space-7: var(--grid-7);
	--space-8: var(--grid-8);
	--space-9: var(--grid-9);
	--space-10: var(--grid-10);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: var(--space-0);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
